aiohttp
APScheduler
asyncpg
asyncpraw
beautifulsoup4
boto3
camelot-py
chromadb
fastapi
fuzzywuzzy
google-api-python-client
google-generativeai
groq
httpx
langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-openai
langchain-pinecone
langchain-text-splitters
langdetect
numpy
openai
pandas
pinecone-client
playwright
psycopg2-binary
pydantic
PyMuPDF
pypdf
python-dotenv
requests
scikit-learn
SQLAlchemy
sentence-transformers
tiktoken
torch
trafilatura
transformers
uvicorn
youtube-transcript-api
pytube
vllm
spacy